<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Assignment Test Suite">

	<test name="Test Assignment Test Cases">
		<classes>
			<class name="com.shadi.qa.tests.RegistrationBasicDetailsPageTest"></class>
		</classes>
	</test>
</suite>